<launch>
    <node name="stm" pkg="steward" type="stm_publisher.py"  output='screen'/>

    <node name="camera" pkg="steward" type="camera_publisher.py" output='screen'/>

    <node name="motors" pkg="steward" type="motors.py"  output='screen'/>

    <node name="logic" pkg="steward" type='path_planner.py' output='screen'/>


    <include  file="$(find steward)/launch/pids_for_wheels.launch" />


</launch>