<launch>
    <node name="left_wheel_pid" pkg="pid" type="controller" ns='left' output="screen">
      <param name="Kp" value="10.0" />
      <param name="Ki" value="0.3" />
      <param name="Kd" value="2.0" />
      <param name="upper_limit" value="100" />
      <param name="lower_limit" value="-100" />
      <param name="windup_limit" value="20" />
      <param name="max_loop_frequency" value="12.0" />
      <param name="min_loop_frequency" value="5.0" />
    </node>

    <node name="right_wheel_pid" pkg="pid" type="controller" ns='right' output="screen">
      <param name="Kp" value="10.0" />
      <param name="Ki" value="0.3" />
      <param name="Kd" value="2.0" />
      <param name="upper_limit" value="100" />
      <param name="lower_limit" value="-100" />
      <param name="windup_limit" value="20" />
      <param name="max_loop_frequency" value="12.0" />
      <param name="min_loop_frequency" value="5.0" />
    </node>


</launch>